<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/tablesorter_blue.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <title>WTA ({{ rinfo.wta_params.p_e_e }},{{ rinfo.wta_params.p_e_i }},{{ rinfo.wta_params.p_i_i }},{{ rinfo.wta_params.p_i_e }})</title>
</head>

<body>

<script type="text/javascript">
    $(document).ready(function()
            {
                $("#trial_table").tablesorter();
            }
    );
</script>

<h4>Subject: {{ rinfo.subj_id }}</h4>
<h4>Condition: {{ rinfo.stim_condition }}</h4>
<h4>Code version: {{ rinfo.version }}</h4>

<h4>Simulation Parameters</h4>
<table border="1">
    <tr>
        <td width="200"><strong>Parameter</strong></td>
        <td width="100"><strong>Value</strong></td>
    </tr>
    <tr>
        <td>Number of groups</td>
        <td>{{ rinfo.num_groups }}</td>
    </tr>
    <tr>
        <td>Trial_duration</td>
        <td>{{ rinfo.trial_duration }}</td>
    </tr>
    <tr>
        <td>Background frequency</td>
        <td>{{ rinfo.background_freq }} Hz</td>
    </tr>
    <tr>
        <td>Stimulation start time</td>
        <td>{{ rinfo.stim_start_time }}</td>
    </tr>
    <tr>
        <td>Stimulation end time</td>
        <td>{{ rinfo.stim_end_time }}</td>
    </tr>
    <tr>
        <td>Network group size</td>
        <td>{{ rinfo.network_group_size }}</td>
    </tr>
    <tr>
        <td>Background input size</td>
        <td>{{ rinfo.background_input_size }}</td>
    </tr>
    <tr>
        <td>Task input size</td>
        <td>{{ rinfo.task_input_size }}</td>
    </tr>
    <tr>
        <td>Pyramidal cell DCS</td>
        <td>{{ rinfo.p_dcs }}</td>
    </tr>
    <tr>
        <td>Interneuron DCS</td>
        <td>{{ rinfo.i_dcs }}</td>
    </tr>
</table>

<h4>Network connectivity parameters</h4>
<table border="1">
    <tr>
        <td width="200"><strong>Parameter</strong></td>
        <td width="100"><strong>Value</strong></td>
    </tr>
    <tr>
        <td>p_e_e</td>
        <td>{{ rinfo.wta_params.p_e_e }}</td>
    </tr>
    <tr>
        <td>p_e_i</td>
        <td>{{ rinfo.wta_params.p_e_i }}</td>
    </tr>
    <tr>
        <td>p_i_i</td>
        <td>{{ rinfo.wta_params.p_i_i }}</td>
    </tr>
    <tr>
        <td>p_i_e</td>
        <td>{{ rinfo.wta_params.p_i_e }}</td>
    </tr>
</table>

<h4>Network neural parameters</h4>
<table border="1">
    <tr>
        <td width="200"><strong>Parameter</strong></td>
        <td width="100"><strong>Value</strong></td>
    </tr>
    <tr>
        <td>C</td>
        <td>{{ rinfo.wta_params.C }}</td>
    </tr>
    <tr>
        <td>gL</td>
        <td>{{ rinfo.wta_params.gL }}</td>
    </tr>
    <tr>
        <td>EL</td>
        <td>{{ rinfo.wta_params.EL }}</td>
    </tr>
    <tr>
        <td>VT</td>
        <td>{{ rinfo.wta_params.VT }}</td>
    </tr>
    <tr>
        <td>Vr</td>
        <td>{{ rinfo.wta_params.Vr }}</td>
    </tr>
    <tr>
        <td>DeltaT</td>
        <td>{{ rinfo.wta_params.DeltaT }}</td>
    </tr>
    <tr>
        <td>Mg</td>
        <td>{{ rinfo.wta_params.Mg }}</td>
    </tr>
    <tr>
        <td>E_ampa</td>
        <td>{{ rinfo.wta_params.E_ampa }}</td>
    </tr>
    <tr>
        <td>E_nmda</td>
        <td>{{ rinfo.wta_params.E_nmda }}</td>
    </tr>
    <tr>
        <td>E_gaba_a</td>
        <td>{{ rinfo.wta_params.E_gaba_a }}</td>
    </tr>
    <tr>
        <td>tau_ampa</td>
        <td>{{ rinfo.wta_params.tau_ampa }}</td>
    </tr>
    <tr>
        <td>tau1_nmda</td>
        <td>{{ rinfo.wta_params.tau1_nmda }}</td>
    </tr>
    <tr>
        <td>tau2_nmda</td>
        <td>{{ rinfo.wta_params.tau2_nmda }}</td>
    </tr>
    <tr>
        <td>tau_gaba_a</td>
        <td>{{ rinfo.wta_params.tau_gaba_a }}</td>
    </tr>
</table>


<h4>Pyramidal cell parameters</h4>
<table border="1">
    <tr>
        <td width="200"><strong>Parameter</strong></td>
        <td width="100"><strong>Value</strong></td>
    </tr>
    <tr>
        <td>C</td>
        <td>{{ rinfo.pyr_params.C }}</td>
    </tr>
    <tr>
        <td>gL</td>
        <td>{{ rinfo.pyr_params.gL }}</td>
    </tr>
    <tr>
        <td>refractory</td>
        <td>{{ rinfo.pyr_params.refractory }}</td>
    </tr>
    <tr>
        <td>w_nmda</td>
        <td>{{ rinfo.pyr_params.w_nmda }}</td>
    </tr>
    <tr>
        <td>w_ampa_ext</td>
        <td>{{ rinfo.pyr_params.w_ampa_ext }}</td>
    </tr>
    <tr>
        <td>w_ampa_rec</td>
        <td>{{ rinfo.pyr_params.w_ampa_rec }}</td>
    </tr>
    <tr>
        <td>w_gaba</td>
        <td>{{ rinfo.pyr_params.w_gaba }}</td>
    </tr>
</table>

<h4>Interneuron parameters</h4>
<table border="1">
    <tr>
        <td width="200"><strong>Parameter</strong></td>
        <td width="100"><strong>Value</strong></td>
    </tr>
    <tr>
        <td>C</td>
        <td>{{ rinfo.inh_params.C }}</td>
    </tr>
    <tr>
        <td>gL</td>
        <td>{{ rinfo.inh_params.gL }}</td>
    </tr>
    <tr>
        <td>refractory</td>
        <td>{{ rinfo.inh_params.refractory }}</td>
    </tr>
    <tr>
        <td>w_nmda</td>
        <td>{{ rinfo.inh_params.w_nmda }}</td>
    </tr>
    <tr>
        <td>w_ampa_ext</td>
        <td>{{ rinfo.inh_params.w_ampa_ext }}</td>
    </tr>
    <tr>
        <td>w_ampa_rec</td>
        <td>{{ rinfo.inh_params.w_ampa_rec }}</td>
    </tr>
    <tr>
        <td>w_gaba</td>
        <td>{{ rinfo.inh_params.w_gaba }}</td>
    </tr>
</table>


<h3>Results</h3>

<h4>ROC</h4>
{% for auc in rinfo.series.response_option_aucs %}
Option {{ loop.index }} AUC={{ auc.auc|round(3) }}
<br>
{% endfor %}
<br>
Overall AUC={{ rinfo.series.total_auc|round(3) }}
<br>
<img src="{{ rinfo.roc_url }}"/>

<h4>% correct</h4>
<img src="{{ rinfo.perc_correct_url }}"/>

<h4>Decision time</h4>
<img src="{{ rinfo.rt_url }}"/>

<h4>Mean firing rates</h4>
{% for contrast in rinfo.contrast_range %}
<img src="{{ rinfo.mean_rate_urls[contrast] }}"/><br>
{% endfor %}

<table class="tablesorter" id="trial_table">
    <thead>
    <tr>
        <th>Trial</th>
        <th>Input Contrast</th>
        <th>Inputs</th>
        <th>Correct</th>
        <th>Decision Time</th>
        <th>Max Firing Rate</th>
        <th>Max Bold</th>
    </tr>
    </thead>
    <tbody>
    {% for trial in rinfo.series.trial_summaries %}
    <tr>
        <td><a href="#contrast.{{ trial.contrast }}.trial.{{ trial.trial_idx }}">{{ trial.trial_idx }}</a></td>
        <td>{{ trial.contrast|round(4) }}</td>
        <td>[{% for input in trial.data.input_freq %} {{ input|round(2) }}Hz {% endfor %}]</td>
        <td>{{ trial.correct }}</td>
        <td>{{ trial.data.rt }}</td>
        <td>{{ trial.max_rate|round(2) }}Hz</td>
        <td>{{ trial.data.summary_data.bold_max|round(4) }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<br>
<h4>Trials</h4>
<table>
    {% for trial_report in rinfo.trial_reports %}
    <tr>
        <td colspan="2">
            <strong><a name="contrast.{{ trial_report.contrast }}.trial.{{ trial_report.trial_idx }}">Contrast={{ trial_report.contrast }}, Trial {{ trial_report.trial_idx }}</a></strong>
            <br>
            Inputs=[{% for input in trial_report.trial_summary.data.input_freq %} {{ input|round(2) }}Hz {% endfor %}]
            <br>
            Decision Time={{ trial_report.trial_summary.rt }}
            <br>
            Max Firing Rate={{ trial_report.trial_summary.max_rate|round(2) }}Hz
            <br>
            Correct={{ trial_report.trial_summary.correct }}
        </td>
    </tr>
    <tr>
        <td>
            {% if trial_report.firing_rate_url %}
            <img src="{{ trial_report.firing_rate_url }}"/>
            {% endif %}
        </td>
        <td>
            {% if trial_report.neural_state_url %}
            <img src="{{ trial_report.neural_state_url }}"/>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>
            {% if trial_report.lfp_url %}
            <img src="{{ trial_report.lfp_url }}"/>
            {% endif %}
        </td>
        <td>
            {% if trial_report.voxel_url %}
            <img src="{{ trial_report.voxel_url }}"/>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td colspan="2"><hr/></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
