<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="css/tablesorter_blue.css" type="text/css" media="screen" />
    <script type="text/javascript" src="js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="js/jquery.tablesorter.min.js"></script>
    <title>WTA Network</title>
</head>

<body>

<script type="text/javascript">
    $(document).ready(function()
            {
                $("#param_table").tablesorter();
            }
    );
</script>

<h4>Parameter Combinations Tested</h4>
<table class="tablesorter" id="param_table">
    <thead>
        <tr>
            <th>p_b_e</th>
            <th>p_x_e</th>
            <th>p_e_e</th>
            <th>p_e_i</th>
            <th>p_i_i</th>
            <th>p_i_e</th>
            <th>AUC</th>
            <th>Bold-Contrast Slope</th>
            <th>Bold-Contrast Intercept</th>
            <th>Bold-Contrast R^2</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        {% for p_b_e in rinfo.p_b_e_range %}
            {% for p_x_e in rinfo.p_x_e_range %}
                {% for p_e_e in rinfo.p_e_e_range %}
                    {% for p_e_i in rinfo.p_e_i_range %}
                        {% for p_i_i in rinfo.p_i_i_range %}
                            {% for p_i_e in rinfo.p_i_e_range %}
                                <tr>
                                    <td>{{ p_b_e|round(3) }}</td>
                                    <td>{{ p_x_e|round(3) }}</td>
                                    <td>{{ p_e_e|round(3) }}</td>
                                    <td>{{ p_e_i|round(3) }}</td>
                                    <td>{{ p_i_i|round(3) }}</td>
                                    <td>{{ p_i_e|round(3) }}</td>
                                    <td>{{ rinfo.roc_auc[(p_b_e,p_x_e,p_e_e,p_e_i,p_i_i,p_i_e)] }}</td>
                                    <td>{{ rinfo.bc_slope[(p_b_e,p_x_e,p_e_e,p_e_i,p_i_i,p_i_e)] }}</td>
                                    <td>{{ rinfo.bc_intercept[(p_b_e,p_x_e,p_e_e,p_e_i,p_i_i,p_i_e)] }}</td>
                                    <td>{{ rinfo.bc_r_sqr[(p_b_e,p_x_e,p_e_e,p_e_i,p_i_i,p_i_e)] }}</td>
                                    <td><a href="wta.groups.{{ rinfo.num_groups }}.duration.{{ '%0.3f'|format(rinfo.trial_duration) }}.p_b_e.{{ '%0.3f'|format(p_b_e) }}.p_x_e.{{ '%0.3f'|format(p_x_e) }}.p_e_e.{{ '%0.3f'|format(p_e_e) }}.p_e_i.{{ '%0.3f'|format(p_e_i) }}.p_i_i.{{ '%0.3f'|format(p_i_i) }}.p_i_e.{{ '%0.3f'|format(p_i_e) }}/wta_network.wta.groups.{{ rinfo.num_groups }}.duration.{{ '%0.3f'|format(rinfo.trial_duration) }}.p_b_e.{{ '%0.3f'|format(p_b_e) }}.p_x_e.{{ '%0.3f'|format(p_x_e) }}.p_e_e.{{ '%0.3f'|format(p_e_e) }}.p_e_i.{{ '%0.3f'|format(p_e_i) }}.p_i_i.{{ '%0.3f'|format(p_i_i) }}.p_i_e.{{ '%0.3f'|format(p_i_e) }}.html">report</a></td>
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<h4>Marginal Distributions</h4>
<table border="1">
    <tr>
        <td>Parameter</td>
        <td>Prior</td>
        <td>Likelihood</td>
        <td>Posterior</td>
    </tr>
    {% if rinfo.bayesian_report.marginal_prior_p_b_e_url %}
    <tr>
        <td>p_b_e</td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_prior_p_b_e_url }}"/></td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_likelihood_p_b_e_url }}"/></td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_posterior_p_b_e_url }}"/></td>
    </tr>
    {% endif %}
    {% if rinfo.bayesian_report.marginal_prior_p_x_e_url %}
    <tr>
        <td>p_x_e</td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_prior_p_x_e_url }}"/></td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_likelihood_p_x_e_url }}"/></td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_posterior_p_x_e_url }}"/></td>
    </tr>
    {% endif %}
    {% if rinfo.bayesian_report.marginal_prior_p_e_e_url %}
    <tr>
        <td>p_e_e</td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_prior_p_e_e_url }}"/></td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_likelihood_p_e_e_url }}"/></td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_posterior_p_e_e_url }}"/></td>
    </tr>
    {% endif %}
    {% if rinfo.bayesian_report.marginal_prior_p_e_i_url %}
    <tr>
        <td>p_e_i</td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_prior_p_e_i_url }}"/></td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_likelihood_p_e_i_url }}"/></td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_posterior_p_e_i_url }}"/></td>
    </tr>
    {% endif %}
    {% if rinfo.bayesian_report.marginal_prior_p_i_i_url %}
    <tr>
        <td>p_i_i</td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_prior_p_i_i_url }}"/></td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_likelihood_p_i_i_url }}"/></td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_posterior_p_i_i_url }}"/></td>
    </tr>
    {% endif %}
    {% if rinfo.bayesian_report.marginal_prior_p_i_e_url %}
    <tr>
        <td>p_i_e</td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_prior_p_i_e_url }}"/></td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_likelihood_p_i_e_url }}"/></td>
        <td><img width="75%" src="{{ rinfo.bayesian_report.marginal_posterior_p_i_e_url }}"/></td>
    </tr>
    {% endif %}
</table>

<h4>Joint Marginal Distributions</h4>
{% if rinfo.bayesian_report.joint_marginal_p_b_e_p_x_e_url %}
    <img src="{{ rinfo.bayesian_report.joint_marginal_p_b_e_p_x_e_url }}"/>
    <br>
{% endif %}
{% if rinfo.bayesian_report.joint_marginal_p_e_e_p_e_i_url %}
    <img src="{{ rinfo.bayesian_report.joint_marginal_p_e_e_p_e_i_url }}"/>
    <br>
{% endif %}
{% if rinfo.bayesian_report.joint_marginal_p_e_e_p_i_i_url %}
    <img src="{{ rinfo.bayesian_report.joint_marginal_p_e_e_p_i_i_url }}"/>
    <br>
{% endif %}
{% if rinfo.bayesian_report.joint_marginal_p_e_e_p_i_e_url %}
    <img src="{{ rinfo.bayesian_report.joint_marginal_p_e_e_p_i_e_url }}"/>
    <br>
{% endif %}
{% if rinfo.bayesian_report.joint_marginal_p_e_i_p_i_i_url %}
    <img src="{{ rinfo.bayesian_report.joint_marginal_p_e_i_p_i_i_url }}"/>
    <br>
{% endif %}
{% if rinfo.bayesian_report.joint_marginal_p_e_i_p_i_e_url %}
    <img src="{{ rinfo.bayesian_report.joint_marginal_p_e_i_p_i_e_url }}"/>
    <br>
{% endif %}
{% if rinfo.bayesian_report.joint_marginal_p_i_i_p_i_e_url %}
    <img src="{{ rinfo.bayesian_report.joint_marginal_p_i_i_p_i_e_url }}"/>
    <br>
{% endif %}
</body>
</html>